# Python
__pycache__/
*.py[cod]
*.class

# Virtual Environment
venv/
.venv/

# VS Code
.vscode/

# JetBrains
.idea/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Historical Data (IMPORTANT)
data/historical/*.json

# Local research caches
.cache/
